{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs ": 3
      }
    ],
    ["@emotion", {
      "sourceMap": true,
      "autoLabel": "dev-only"
    }],
    [
      "babel-plugin-root-import"
    ],
    [
      "module-resolver",
      {
        "root": [
          "./tests",
          "./src"
        ],
        "alias": {
          "underscore": "lodash"
        }
      }
    ]
  ],
  "sourceMaps": "both"
}
