{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jest-dom/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:testing-library/react"
  ],
  "plugins": [
    "eslint-plugin-import",
    "eslint-plugin-jest",
    "eslint-plugin-testing-library",
    "jest-dom",
    "jsx-a11y",
    "react-hooks",
    "testing-library"
  ],
  "parser": "@babel/eslint-parser",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "linebreak-style": [
      "error",
      "unix"
    ],
    "arrow-parens": "off",
    "class-methods-use-this": "off",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "state"
        ]
      }
    ],
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    "operator-linebreak": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "indent": [
      "error",
      2,
      {
        "ignoredNodes": [
          "JSXElement"
        ]
      }
    ],
    "react/destructuring-assignment": "off",
    "react/function-component-definition": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": 0,
    "react/jsx-indent": [
      "error",
      2
    ],
    "react/jsx-indent-props": [
      "error",
      2
    ],
    "react/jsx-uses-react": "off",
    "react/jsx-wrap-multilines": "off",
    "react/prefer-stateless-function": "off",
    "react/sort-comp": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/static-property-placement": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "public",
          "src",
          "tests"
        ]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
