{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "eslint-plugin-import",
    "jest-dom",
    "jsx-a11y",
    "react-hooks"
  ],
  "parser": "@babel/eslint-parser",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "ignorePatterns": ["*.test.js", "tests/e2e/**"],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "linebreak-style": [
      "error",
      "unix"
    ],
    "arrow-parens": "off",
    "class-methods-use-this": "off",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "state"
        ]
      }
    ],
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    "operator-linebreak": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "indent": [
      "error",
      2,
      {
        "ignoredNodes": [
          "JSXElement"
        ]
      }
    ],
    "react/destructuring-assignment": "off",
    "react/function-component-definition": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": 0,
    "react/jsx-indent": [
      "error",
      2
    ],
    "react/jsx-indent-props": [
      "error",
      2
    ],
    "react/jsx-uses-react": "off",
    "react/jsx-wrap-multilines": "off",
    "react/prefer-stateless-function": "off",
    "react/sort-comp": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/static-property-placement": "off",
    "testing-library/no-render-in-setup": "error",
    "testing-library/no-wait-for-empty-callback": "error",
    "testing-library/prefer-explicit-assert": "error",
    "testing-library/prefer-presence-queries": "error",
    "testing-library/prefer-screen-queries": "error",
    "testing-library/prefer-wait-for": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "public",
          "src",
          "tests"
        ]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "extends": [
        "plugin:jest/recommended",
        "plugin:jest/style",
        "plugin:jest-dom/recommended",
        "plugin:testing-library/react"
      ],
      "files": "src/**/*.test.js",
      "plugins": [
        "jest",
        "testing-library"
      ]
    },
    {
      "extends": [
        "plugin:cypress/recommended"
      ],
      "files": "tests/e2e/suites/**/*.js"
    }
  ]
}
